.propic {
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	min-height: 250px;
	max-height: 250px;
	min-width: 210px;
	max-width: 210px;
}

figure {
	max-width: 60%;
}

.highlighted {
	background-color: limegreen;
	color: white;
}

.list {
	font-size: 22px;
	text-align: left;
	margin-left: 30px;
	width: 49%;
}

table.grid {
	width: 55%;
	height: 55%;
	border: solid 1px !important;
	vertical-align: middle !important;
	text-align: middle;
	border-collapse: collapse;
}

p {
	width: 65%;
}

td.grid {
	vertical-align: middle !important;
	text-align: middle;
	min-width: 20px;
	min-height: 30px;
}

table.list td {
	max-width: 130px;
	padding-top: 5px;
}

table.grid td{
	border:1px solid black;
}

tr {
	border-style: solid 1px !important;
}

pre.math {
	margin-left: 20%;
}

.center-line {
	display: flex;
	justify-content: center;
	width: 65%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.center-line > a {
	margin-left: 25px;
	background: none;
}

#float-index {
	position: fixed;
	right: 0px;
	top: 30px;
	width: 25%;
}

.toc-item {
	padding: 8px 0px 8px 35px;
	font-size: 20px;
	cursor: pointer;
}

.toc-item:hover {
	border-left: solid 2px black;
}

.icon {
	max-width: 32px;
	min-width: 32px;
	max-height: 32px;
	min-height: 32px;
}